<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <%-include("./partials/head") %>
        <link rel="stylesheet" href="/stylesheets/admin.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
</head>

<body>
    <% if(usuarioLogueado != null){ %>
        <%-include("./partials/headerLogueado") %>

            <% } else { %>
                <%-include("./partials/headerDeslogueado")%>
                    <%}%>
                        <table class="table mt-5">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Nombre del Usuario</th>
                                    <th>Ver</th>
                                    <th>Editar</th>
                                    <th>Borrar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% usuarios.forEach(usuarios => { %>
                                    <tr>
                                        <td>
                                            <%= usuarios.id %>
                                        </td>
                                        <td>
                                            <%= usuarios.nombre +" "+ usuarios.apellido%>
                                        </td>
                                        <td>
                                            <a href="/users/profile/<%= usuarios.id%>">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/users/profile/edit/<%= usuarios.id%>">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/users/admin/deleteUsuario/<%= usuarios.id%>">
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) ; %>


                            </tbody>
                        </table>
                        <%-include("./partials/footer") %>
</body>

</html>