<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%-include("./partials/head") %>
        <link rel="stylesheet" href="/stylesheets/formularios.css">
        <script src="/js/logIn.js"></script>
        <!-- UIkit JS -->
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <title>LogIn</title>



</head>

<body>
    <% if(usuarioLogueado != null){ %>
        <%-include("./partials/headerLogueado") %>

            <% } else { %>
                <%-include("./partials/headerDeslogueado")%>
                    <%}%>



                        <div class="container products-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="products-title tituloLogIn">Ingresar</h1>
                                </div>

                                <!-- Show the "ultimos" products -->

                                <!-- Formulario de logIn-->
                                <section class="conteiner">
                                    <form action="/users/iniciar" method="POST">

                                        <div class=" uk-animation-toggle">
                                            <label for="email">Email</label>
                                            <%if (locals.erroresLogin != null && erroresLogin.email){ %>
                                                <input class="uk-animation-shake uk-button-danger" placeholder="<%=erroresLogin.email%> " type="text" name="email" id="email">

                                                <%} else { %>
                                                    <input type="email" name="email" id="email">
                                                    <%} %>

                                        </div>
                                        <div class=" uk-animation-toggle">
                                            <label for="password">Contrase침a:</label>
                                            <%if(locals.erroresLogin != null && erroresLogin.contrase침a){ %>
                                                <input class="uk-animation-shake uk-button-danger" placeholder="<%=erroresLogin.contrase침a%> " type="password" name="password">
                                                <%} else { %>
                                                    <input type="password" name="password">
                                                    <% } %>

                                        </div>
                                        <div class="checkboxDiv">
                                            <label class="checkboxLabel" for="recordarme">Recordarme</label>
                                            <input class="checkbox" type="checkbox" id="recordarme" name="recordarme">


                                        </div>

                                        <div>
                                            <button type="submit" class="btn">Iniciar Sesi칩n</button>
                                        </div>


                                    </form>
                                    <div class="boton">
                                        <button class="btn"><a href="/users/registracion">No tengo una cuenta</a></button>
                                    </div>

                                </section>










                                <%-include("./partials/footer") %>
</body>

</html>