<!DOCTYPE html>
<html lang="es">

<head>
    <%-include('./partials/head')%>

    <title>
        <%=producto[0].product_name%> Detalle Producto</title>

    <!-- Stylesheet Propios -->
    <link rel="stylesheet" href="/stylesheets/product.css">
</head>

<body>
    
    <% if(usuarioLogueado != null){ %>

    <%-include("./partials/headerLogueado") %>

    <% } else { %>

    <%-include("./partials/headerDeslogueado")%>
    
    <%}%>

    <%  if (mensaje == 'actualizadoBien') {%>
        <div class="alignMensaje">
       <h3 class="actualizado">El producto se ha actualizado correctamente</h3>
    </div>
        <%}%>

        <% if ( mensaje == 'creadoBien') {%>
            <div class="alignMensaje">
            <h3 class="creado">El producto se ha creado correctamente</h3>
        </div>
    } 

    <%}%>

                        <!-- product detail -->
                        <div class="container products-wrapper contenedor">
                            <div class="d-flex align-items-center">
                                <h2 class="products-title">
                                    <%=producto[0].product_name%>
    </h2>

    <% if(usuarioLogueado != null ){ %>
    <% if(usuarioLogueado.role === 3 || usuarioLogueado.id == producto.userAdded ){ %>
        
    <p class="product-detail-description">
        <button class="editarLink"><a href="/productos/editproduct/<%=producto.id%>">Editar Producto</a></button>
        <button onclick="alerta()" class="editarLink">Eliminar Producto</button> 
    </p>

    <% } %>
    <% } %>

    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="/images/productosFile/<%=producto[0].img_name%>" class="product-detail-img">
                <p class="product-detail-description">
                    <%=producto[0].product_name%>
                    <br>
                    <%=producto[0].detalle%>
                    <br>
                Condición: <%
                switch (producto.condicion) {

                    case '1':%>
                Vegetariano

                <%     break;
            
                case '2':%>
                Vegano

                <%     break;
         
              case '3':%>
                Sin TACC

                <%     break;

              default:%>
                Normal

                <%     break;
        
            }%> 
        <br>
        
       <!-- PROFILE LINK -->
        <a href="http://">Por: <%=producto[0].userAdd.nombre + ' ' + producto[0].userAdd.apellido%></a>
                </p>
            </article>


            <div class="col-12 col-lg-4">
                <section class="comments">

                    <% //comentarios.forEach(element => { %>
                        <article>
                            <img class="userphoto" src="/images/users/" alt="">
                            <div class="data">
                                    <strong> <a href="profile.html"></a></strong></p>
                            </div>
                        </article>
                        <% //}); %> 
                    
                </section>

                <form class="form" action="" method="POST">
                    <input class="form-input" type="text" value="" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>

                <hr>
            </div>
        </div>
    </div>
    
    </div>

    <%-include('./partials/footer')%>

    <script src="/js/producto.js"></script>
</body>

</html>