<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%-include("./partials/head") %>
        <link rel="stylesheet" href="/stylesheets/formularios.css">





        <title>ProfileEdit</title>


</head>

<body>
    <!--Header-->

    <% if(usuarioLogueado != null){ %>
        <%-include("./partials/headerLogueado") %>

            <% } else { %>
                <%-include("./partials/headerDeslogueado")%>
                    <%}%>
                        <div class="container products-wrapper">
                            <div class="row">
                                <div class="col-12">
                                    <h1 class="products-title tituloLogIn">Editar Perfil</h1>
                                </div>

                                <!-- Show the "ultimos" products -->

                                <!-- Formulario de logIn-->
                                <section class="conteiner">
                                    <form action="/users/profile/edit/<%= usuario.id %>  " method="POST">

                                        <div>
                                            <label for="nombre">Nuevo nombre</label>
                                            <input placeholder="<%=usuario.nombre%>" value="<%= usuario.nombre %> " type="text" name="nombre" id="nombre">
                                        </div>
                                        <div>
                                            <label for="email">Nuevo email</label>
                                            <input placeholder="<%= usuario.email %> " value="<%= usuario.email %> " type="email" name="email" id="email">
                                        </div>
                                        <div>
                                            <label for="usuario">Nuevo usuario</label>
                                            <input type="text" placeholder="<%= usuario.usuario %> " value="<%= usuario.usuario %> " name="usuario" id="usuario">
                                        </div>
                                        <div>
                                            <label for="contraseña">Nueva contraseña</label>
                                            <input type="password" placeholder="<%= usuario.contraseña %> " value="<%= usuario.contraseña %> " name="contraseña" id="password">
                                        </div>




                                        <div class="boton">

                                            <button type="submit" class="btn">Confirmar Cambios</button>

                                        </div>


                                    </form>


                                </section>




                                <%-include('./partials/footer')%>
</body>

</html>