<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%-include("./partials/head") %>
        <link rel="stylesheet" href="/stylesheets/userphoto.css">
        <title>Profile</title>
</head>

<body>

    <% if(usuarioLogueado != null){ %>
        <%-include("./partials/headerLogueado") %>

            <% } else { %>
                <%-include("./partials/headerDeslogueado")%>
                    <%}%>

                        <!-- Datos del usuario -->
                        <section class="info-usuario container products-wrapper">
                            <div class="row">
                                <div class="img-container offset-3 col-2">
                                    <img id="userphoto" src="/images/users/<%=usuario.imgUsuario%>" alt="<%=usuario.imgUsuario%>">
                                </div>
                                <div class="data-container col-6">
                                    <div class="d-flex align-items-center ">
                                        <h1 class="main-title">
                                            <%= usuario.nombre %>

                                                <% if (locals.usuarioLogueado != null && usuario.id == usuarioLogueado.id) { %>
                                                    <a href="/users/profile/edit/<%= usuario.id %> ">
                                                        <i class="fas fa-cog"></i>
                                                    </a>

                                                    <% } %>

                                        </h1>

                                    </div>
                                    <div>
                                        <ul class="">
                                            <li>
                                                <%= producto.length %> productos</li>

                                            <li>
                                                <%= comentario.length %> comentarios</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- /Datos del usuario -->

                        <!-- Mis productos -->
                        <div class="container products-wrapper">
                            <div class="row">
                                <% if(producto.length > 0){ %>
                                    <div class="col-12">
                                        <h2 class="products-title">Mis productos</h2>
                                    </div>

                                    <% } %>

                                        <!-- Show mis productos -->
                                        <% for (let index = 0; index < producto.length; index++) {
                                    const cadaProducto = producto[index]; %>
                                            <div class="col-12 col-sm-6 col-lg-3">
                                                <section class="product-box">

                                                    <a href="/productos/detalle/<%= cadaProducto.id %>">
                                                        <figure class="product-box_image">
                                                            <img src="/images/productosFile/<%= cadaProducto.img_name%> " alt="<%= cadaProducto.nombre%>">
                                                        </figure>
                                                        <article class="product-box_data">
                                                            <h2>
                                                                <%= cadaProducto.product_name%>
                                                            </h2>
                                                            <p>Detalle:
                                                                <%= cadaProducto.detalle%>
                                                            </p>

                                                        </article>
                                                    </a>

                                                </section>
                                            </div>

                                            <% } %>





                                                <!-- /Mis productos -->
                                                <div class="row">
                                                    <% if(comentario.length > 0){ %>
                                                        <div class="col-12">
                                                            <h2 class="products-title">Mis comentarios</h2>
                                                        </div>

                                                        <% } %>

                                                            <!-- Show mis productos -->
                                                            <% for (let index = 0; index < comentario.length; index++) {
                                                                 const cadaComent = comentario[index]; %>
                                                                <div class="col-12 col-sm-6 col-lg-3">
                                                                    <section class="product-box">

                                                                        <a href="/productos/detalle/<%= cadaComent.comentarioId.id %>">
                                                                            <figure class="product-box_image">
                                                                                <img src="/images/productosFile/<%= cadaComent.comentarioId.img_name%> " alt="<%= cadaComent.comentarioId.product_name%>">
                                                                            </figure>
                                                                            <article class="product-box_data">
                                                                                <h2> comentario:
                                                                                    <%= cadaComent.texto%>
                                                                                </h2>


                                                                            </article>
                                                                        </a>

                                                                    </section>
                                                                </div>

                                                                <% } %>


                                                                    <!-- footer -->
                                                                    <%-include("./partials/footer") %>
                                                                        <!-- /footer -->
</body>

</html>