<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
    <%-include("./partials/head") %>
        <!-- Own Stylesheet -->
        <link rel="stylesheet" href="/stylesheets/app.css">
        <link rel="stylesheet" href="/stylesheets/formularios.css">
        <script src="/js/registrarme.js"></script>
        <title>Register</title>

        <!-- UIkit JS -->
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>



</head>

<body>
    <% if(usuarioLogueado != null){ %>
        <%-include("./partials/headerLogueado") %>

            <% } else { %>
                <%-include("./partials/headerDeslogueado")%>
                    <%}%>


                        <!-- Novedades -->
                        <div class="container products-wrapper">
                            <div class="row">
                                <section class="conteiner">
                                    <div class="col-12">
                                        <h1 class="products-title tituloRegistrate">Registrate</h1>
                                    </div>

                                    <!-- formulario de registración-->
                                    <form class="formulario" action="/users/store" method="POST">
                                        <% if (locals.errores != null && locals.errores.apellido != null && locals.errores.nombre){%>
                                            <div class="nombreApellido uk-animation-toggle">

                                                <input class="uk-animation-shake uk-button-danger" type="text" placeholder="<%= locals.errores.nombre %> " name="nombre" id="name">
                                                <input class="uk-animation-shake uk-button-danger" type="text" placeholder=<%=locals.errores.apellido %> name="apellido" id="lastname">
                                            </div>


                                            <% } else {%>

                                                <div class="nombreApellido">
                                                    <input type="text" placeholder="Nombre" name="nombre" id="name">
                                                    <input type="text" placeholder="Apellido" name="apellido" id="lastname">
                                                </div>
                                                <%} %>
                                                    <%if( locals.errores != null  ){
                                                        if (errores.email) { %>
                                                        <div class="uk-animation-toggle">

                                                            <input class="uk-animation-shake uk-button-danger" placeholder="<%= locals.errores.email %> " type="email" name="email" id="email">
                                                        </div>

                                                        <% } else if (errores.registrado){%>
                                                            <div class="uk-animation-toggle">
                                                                <input class="uk-animation-shake uk-button-danger" placeholder="<%=errores.registrado%>" type="email" name="email" id="email">
                                                            </div>


                                                            <% } if( errores.email == null && errores.registrado == null){%>
                                                                <div>
                                                                    <input placeholder="Email" type="email" name="email" id="email">
                                                                </div>

                                                                <%} } else {%>
                                                                    <div>
                                                                        <input placeholder="Email" type="email" name="email" id="email">
                                                                    </div>
                                                                    <%}%>



                                                                        <%if(locals.errores && locals.errores.usuario){%>
                                                                            <div class="uk-animation-toggle">

                                                                                <input class="uk-animation-shake uk-button-danger" type="text" placeholder="<%=locals.errores.usuario%> " name="usuario" id="username">
                                                                            </div>

                                                                            <% } else{ %>
                                                                                <div>
                                                                                    <input type="text" placeholder="Usuario" name="usuario" id="username">
                                                                                </div>
                                                                                <%} %>


                                                                                    <%if( locals.errores && locals.errores.contraseña){%>
                                                                                        <div class="uk-animation-toggle">

                                                                                            <input class="uk-animation-shake uk-button-danger" type="password" placeholder="<%=locals.errores.contraseña%> " name="contraseña" id="password">
                                                                                        </div>

                                                                                        <% } else if ( locals.errores &&locals.errores.contraseña == null && locals.errores.contraseñaExtensión != null){%>
                                                                                            <div class="uk-animation-toggle">
                                                                                                <input class="uk-animation-shake uk-button-danger" type="password" placeholder="<%=locals.errores.contraseñaExtensión%> " name="contraseña" id="password">
                                                                                            </div>

                                                                                            <%}else{ %>
                                                                                                <div>
                                                                                                    <input type="password" placeholder="Contraseña" name="contraseña" id="password">
                                                                                                </div>
                                                                                                <%} %>

                                                                                                    <%if( locals.errores &&locals.errores.nacimiento){%>
                                                                                                        <div class="uk-animation-toggle">

                                                                                                            <input class="uk-animation-shake uk-button-danger" type="date" placeholder="<%=locals.errores.nacimiento%> " name="nacimiento" id="birth">
                                                                                                        </div>

                                                                                                        <% }else{ %>
                                                                                                            <div>
                                                                                                                <input type="date" placeholder="Fecha de nacimiento" name="nacimiento" id="birth">
                                                                                                            </div>
                                                                                                            <%} %>

                                                                                                                <div>
                                                                                                                    <button class="btn">Registrarme</button>

                                                                                                                </div>





                                    </form>

                                    <div class="boton">
                                        <button class="btn "><a href="/users/login">Ya tengo cuenta</a></button>
                                    </div>
                                </section>


                                <!-- footer -->
                                <%-include("./partials/footer") %>

                                    <!-- /footer -->
</body>

</html>