<!DOCTYPE html>
<html lang="es">

<head>
    <%-include('./partials/head')%>

        <title>
            <%=title%> | Buscar Catalogo</title>

        <!-- Stylesheet Propios -->
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
    <%-include('./partials/headerCompleto')%>

        <section class="maincontent">

            <div class="resultadoyordenar">
                <h2>Buscar:<span class="busqueda">Pan Lactal</span></h2>
                <div class="orden">
                    <h2>Ordenar por:</h2>
                    <ul>
                        <li><a href="/search/condicion:masbarato/orden">Más barato</a></li>
                        <li><a href="/search/condicion:mascaro/orden">Más caro</a></li>
                    </ul>
                </div>

            </div>

            <div class="todoelsearch">

                <div class="filtrar">
                    <ul>
                        <li>
                            <Ul>
                                <li class="black">Clasificación</a>
                                </li>
                                <li><a href="producto/search/condicion:vegetariano">Vegetariano</a></li>
                                <li><a href="producto/search/condicion::">Vegano</a></li>
                            </Ul>
                        </li>
                        <li>
                            <Ul>
                                <li class="black">Sin TACC</li>
                                <li><a href="producto/search/condicion:sintacc">Si</a></li>
                                <li><a href="producto/search/condicion:contacc">No</a></li>
                            </Ul>
                        </li>
                    </ul>
                </div>

                <div class="resultados">

                    <% comidas.forEach(element => {	%>

                        <a href="producto/detalle:id">
                            <div class="product">
                                <div class="fotos"> <img src="/images/products/<%=element.imagenSrc%>" alt="${element.imgalt}">
                                </div>
                                <h3>
                                    <%=element.nombre%>
                                </h3>
                                <h5>Tipo: Normal</h5>
                                <h6>Precio por Kilo: $500</h6>
                            </div>
                        </a>

                        <% 	});%>


                </div>
        </section>


</body>

</html>