<!DOCTYPE html>
<html lang="es">

<head>
    <title>
        <%=busqueda%> | Busqueda en Catalogo</title>

    <%-include('./partials/head')%>
    <!-- Stylesheet Propios -->
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/search.css">
</head>

<body>
    <% if(usuarioLogueado != null){ %>
    <%-include("./partials/headerLogueado") %>

    <% } else { %>
    <%-include("./partials/headerDeslogueado")%>
    <%}%>

    <%   if (productoName.length > 0) {
        producto = productoName
    }%> 

    <%   if (productoDetalle.length > 0) {
        producto = productoDetalle
    }%> 
        

                        <section class="maincontent">

                            <div class="resultadoyordenar">
                                <h2>Buscar:<span class="busqueda"><%=busqueda%></span></h2>
    <div class="orden">
        <h2>Ordenar por:</h2>
        <ul>
            <li><a href="/productos/search/<%=busqueda%>/<%=condicionNumber%>/ASC">Más Reciente</a></li>
            <li><a href="/productos/search/<%=busqueda%>/<%=condicionNumber%>/DESC">Más Antiguo</a></li>
        </ul>
    </div>

    </div>

    <div class="todoelsearch">

        <div class="filtrar">
            <ul>
                <li>
                    <Ul>
                        <li class="black">Clasificación</a>
                        </li>
                        <li><a href="/productos/search/<%=busqueda%>/0/<%=orden%>">Todos</a></li>
                        <li><a href="/productos/search/<%=busqueda%>/1/<%=orden%>">Vegetariano</a></li>
                        <li><a href="/productos/search/<%=busqueda%>/2/<%=orden%>">Vegano</a></li>
                        <li><a href="/productos/search/<%=busqueda%>/3/<%=orden%>">Sin TACC</a></li>
                    </Ul>
                </li>
            </ul>
        </div>

        <div class="resultados">

            

            <% if (producto.length > 0 ){ %>
                
                <% contadorFiltrados = 0 %>
                
            <% producto.forEach(element => {%>

                <% if (condicionNumber !== 0 && condicionNumber == element.condicion) {%>

                    <% contadorFiltrados = contadorFiltrados + 1 %>

                    <% if (contadorFiltrados != 0 ){ %>

            <a href="/productos/detalle/<%=element.id%>?id=<%=element.id%>">
                <div class="product">
                    <div class="fotos"> <img src="/images/productosFile/<%=element.img_name%>">
                    </div>
                    <h3>
                        <%=element.product_name%>
                    </h3>
                    <h6>Por
                        <%=element.userAdded%>
                    </h6>
                    <!-- Te trae el id, no el nombre -->
                    
                        <%
                        switch (element.condicion) {

                            case '1':%>
                          <h6>Vegetariano</h6>

                           <%     break;
                    
                        case '2':%>
                        <h6>Vegano</h6>

                         <%     break;
                 
                      case '3':%>
                      <h6>Sin TACC</h6>

                       <%     break;

                      default:%>
                       <h6>Normal</h6>

                        <%     break;
                
                    }%>      
                </div>
            </a>

            <% } else { %>
                <div class="sinResultados">
                    <h5>No se han encontrado productos.</h5>
                    <h5>Probá con otro termino de busqueda.</h5>
                </div>

                <% } %>

            <% } if (condicionNumber == 0) { %>

                <a href="/productos/detalle/<%=element.id%>?id=<%=element.id%>">
                    <div class="product">
                        <div class="fotos"> <img src="/images/productosFile/<%=element.img_name%>">
                        </div>
                        <h3>
                            <%=element.product_name%>
                        </h3>
                        <h6>Por
                          <% // =element.userAdded[userAdded]%>
                        </h6>
                        <!-- Te trae el id, no el nombre -->
                        
                            <%
                            switch (element.condicion) {
    
                                case '1':%>
                              <h6>Vegetariano</h6>
    
                               <%     break;
                        
                            case '2':%>
                            <h6>Vegano</h6>
    
                             <%     break;
                     
                          case '3':%>
                          <h6>Sin TACC</h6>
    
                           <%     break;
    
                          default:%>
                           <h6>Normal</h6>
    
                            <%     break;
                    
                        }%>      
                    </div>
                </a>

            <%} }) %>

            <% } else { %>
            <div class="sinResultados">
                <h5>No se han encontrado productos.</h5>
                <h5>Probá con otro termino de busqueda.</h5>
            </div>
            <% } %>

        </div>
        </section>
        <%-include("./partials/footer") %>
</body>

</html>